<table class="data-table data-table--zebra data-table--tight u-spacer--tb--small">
  <thead>
    <tr>
      <th>Bedrag</th>
      <th>Eenheid</th>
      <th>Basis</th>
      <th>Commentaar</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each taxRates as |taxRate|}}
      <tr>
        <td>
          {{input
            class="input-field input-field--block input-field--small"
            value=taxRate.amount
            onchange=(mut taxRate.amount)
            placeholder="Bedrag"
          }}
        </td>
        <td>
          {{input
            class="input-field input-field--block input-field--small"
            value=taxRate.unit
            onchange=(mut taxRate.unit)
            placeholder="Eenheid"
          }}
        </td>
        <td>
          {{input
            class="input-field input-field--block input-field--small"
            value=taxRate.base
            onchange=(mut taxRate.base)
            placeholder="Basis"
          }}
        </td>
        <td>
          {{input
            class="input-field input-field--block input-field--small"
            value=taxRate.remark
            onchange=(mut taxRate.remark)
            placeholder="Commentaar"
          }}
        </td>
        <td>
          <a class="toggle small link--icon u-spacer--bottom--small" {{action "delete" taxRate}} role="button">
            Verwijder
          </a>
        </td>
      </tr>
    {{/each}}
    <tr>
      <td colspan="5" class="data-table__add-row u-align-center">
        {{#unless taxRates}}
          <a class="button button--narrow u-spacer--tb--small" {{action "create"}} role="button">
            <i class="vi vi-plus" aria-hidden="true"></i>Voeg aanslagvoet toe
          </a>
        {{else}}
          <a class="button button--narrow button--alt u-spacer--tb--tiny" {{action "create"}} role="button">
            <i class="vi vi-plus" aria-hidden="true"></i>Voeg aanslagvoet toe
          </a>
        {{/unless}}
      </td>
    </tr>
  </tbody>
</table>
