<div class="power-select">
  <PowerSelect
          @searchEnabled={{true}}
          @loadingMessage="Aan het laden..."
          @noMatchesMessage="Geen resultaten"
          @searchMessage="Typ om te zoeken"
          @allowClear={{allowClear}}
          @disabled={{disabled}}
          @options={{options}}
          @search={{perform search}}
          @selected={{internalValue}}
          @onChange={{action "select"}}
          as |internalValue|>
    {{get internalValue displayProperty}}
  </PowerSelect>
</div>
